.banner {
  display: flex;
  justify-content: center;
  background-color: #c4eac0;
}
.banner img {
  width: 944px;
  height: 531px;
}
.bannerbottom {
  margin-top: 12px;
  height: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerbutton {
  margin: 0px 2px;
}

.emoticonintro {
  width: 1024px;
  margin: 0 auto;
}
.pop {
  height: 636px;
  padding: 20px 40px 60px;
}
.new {
  height: 576.8px;
  padding: 30px;
}
.emoticonintrostyle {
  width: 100%;
  height: 688px;
  padding: 50px 40px 20px;
  box-sizing: border-box;
  background-color: #fafafa;
}
.newemote {
  display: flex;
  flex-direction: row;
  width: 980px;
  height: 470px;
  padding: 10px;
  margin: -12px 0 0 -16px;
  flex-wrap: wrap;
}
.popemote1 {
  display: flex;
  flex-direction: column;
  width: 472px;
  height: 500px;
  padding: 0 40px 0 0;
  float: left;
}
.popemote2 {
  display: flex;
  flex-direction: column;
  width: 472px;
  height: 500px;
  padding: 0 0 0 40px;
  float: right;
}
.popemoticon {
  width: 432px;
  height: 100px;
  display: flex;
  flex-direction: row;
}
.poprank {
  width: 42px;
  height: 100px;
  padding: 0 10px 0 0;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #fa4637;
}
.popart {
  width: 294px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .product {
    margin: 4px 0 0 0;
  }
  .author {
    color: #999999;
  }
}
.popimg {
  width: 76px;
  height: 76px;
}
.popemot_link {
  padding: 0 0 0 20px;
}
.style {
  margin-bottom: 10px;
}
.styleemote {
  width: 944px;
  height: 184px;
  padding: 0 0 60px;
  display: flex;
}
.style_link {
  width: 130px;
  height: 124px;
  display: flex;
  flex-direction: column;
}
.style_emote_list {
  width: 162.8px;
  height: 124px;
}
.style_emote_link {
  width: 142.8px;
  height: 124px;
  display: flex;
}
.style_img {
  width: 124px;
  height: 124px;
}
.tag {
  font-size: 24px;
  font-weight: 700;
  font-style: bold;
  color: #fea35c;
}
.round_box {
  width: 102px;
  height: 32px;
  font-size: 13px;
  font-weight: 700;
  background-color: #fcbc8b;
  color: #ffffff;
  border-radius: 16px;
  padding-left: 12px;
  display: flex;
  align-items: center;
}
