.foot_main {
  width: 100%;
  height: 229px;
  color: #4c4c4c;
}
.area {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
.foot_bottom {
  width: 944px;
  height: 114px;
}
.foot_info {
  padding: 0 11px 2px 0;
}
.foot_info::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  margin-left: 9px;
  margin-right: 2px;
}
a.foot_info,
strong {
  font-size: 13px;
  font-weight: 700;
}
p {
  font-size: 11px;
  padding: 10px 0 0;
  color: #7f7f7f;
}
.service_info {
  padding: 10px 0 0;
}
.list_info {
  font-size: 12px;
  color: #7f7f7f;
}
.comp_info {
  padding: 6px 0 0;
}
