.topheader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 10px;
}
.mainimgbg {
  width: calc(100% - 120px);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.mainimg {
  width: 190px;
  height: 24px;
}
.buttonimgbg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 60px;
}
.buttonimg {
  width: 24px;
  height: 24px;
}
.profile {
  width: 32px;
  border-radius: 10px;
}
.bottomheader {
  width: 100%;
  height: 50px;
}
.text {
  width: 154px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  color: #808080;
  line-height: 54px;
}
.selected,
.text:hover {
  font-weight: 700;
  color: #000000;
  position: relative;
}
.selected::after,
.text:hover::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #3b3b3b;
}
.textbg {
  display: flex;
  text-align: center;
  justify-content: center;
}
