.newemot_list {
  padding: 12px 0px 12px 16px;
  width: 192px;
  height: 225px;
}
.newemot_link {
  display: block;
  padding: 0 0 20px;
  width: 176px;
  height: 201px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 10px 0px;
  text-align: center;
}
.imgspace {
  display: block;
  width: 112px;
  height: 142px;
  padding: 30px 0 0;
  margin: 0 32px;
}
.imgspace img {
  width: 112px;
  height: 112px;
}
.newemot_text {
  display: block;
  padding: 16px 20px 0;
  word-break: break-all;
  width: 176px;
  font-size: 15px;
  font-weight: 400;
}
