html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
}

/* 중앙 정렬 박스 */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  border-radius: 1.5%;
  min-height: 250px;
  padding: 30px;
}
.box.dark-mode {
  background-color: #2f2f2f;
}
.box.light-mode {
  background-color: #f5f5f5;
}

.input-and-button {
  display: flex;
  justify-content: center;
  height: 32px;
}

.input-text.dark-mode {
  color: #ffffff;
  background-color: #2a2a2a;
}
.input-text.light-mode {
  color: #222222;
  background-color: #fafafa;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 23.2px;
}
*.light-mode {
  color: #222222;
}
*.dark-mode {
  color: #ffffff;
}
.line {
  display: flex;
  gap: 1em;
}
@media screen and (max-width: 400px) {
  .box {
    width: 100%;
  }
}
@media screen and (min-width: 401px) and (max-width: 650px) {
  .box {
    width: 70%;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) {
}
