button.dark-mode {
  background-color: #2a2a2a;
  margin-left: 0.5em;
}

button.light-mode {
  background-color: #dddddd;
  margin-left: 0.5em;
}

@media screen and (max-width: 319px) {
}

@media screen and (min-width: 320px) and (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) {
}
