/* dm */
.DM {
  width: 100%;
  height: 100%;
  display: flex;
}
/* dmmain */
.DMMain {
  width: 397px;
  height: 100%;
  background-color: #000000;
}
.DMMainName {
  width: 397px;
  height: 74px;
  background-color: #000000;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 36px 24px 12px;
}
.DMMainNameUserName {
  font-weight: 700;
  border: 0;
  background-color: #000000;
  color: #f5f5f5;
  font-size: 20px;
}
.DMMainNameUnderarrow {
  padding-top: 4px;
  margin-left: 8px;
}
.DMMainNameImg {
  width: 24px;
  height: 24px;
}
.DMMainSearch {
  width: 397px;
  height: 40px;
  background-color: #000000;
  color: #f5f5f5;
}
.DMMainSearchimg {
  color: #868486;
}
.DMMainSearchDiv {
  width: 365px;
  height: 40px;
  background-color: #121212;
  padding: 3px 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 1000px;
}
.DMMainSearchText {
  width: 301px;
  height: 100%;
  padding: 3px 16px;
  box-sizing: border-box;
  color: #f5f5f5;
  background-color: #121212;
  border: 0;
  font-size: 16px;
}
.DMMainSearchText::placeholder {
  color: #868486;
}
.DMMainStatusMessage {
  width: 397px;
  height: 155px;
  background-color: #000000;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}
.DMMainStatusMessageProfile {
  width: 96px;
  height: 92px;
  place-self: center;
}
.DMMainStatusMessageText {
  max-width: 74px;
  height: 42px;
  background-color: #363636;
  font-size: 11px;
  font-weight: 400;
  border-radius: 14px;
  margin-top: 17px;
  padding: 8px;
  word-break: keep-all;
  align-self: start;
  color: #f5f5f5;
}
.DMMainStatusMessageProfileImg {
  width: 74px;
  height: 74px;
  border-radius: 37px;
  display: flex;
  align-self: center;
  justify-self: center;
}
.StatueMessageusername {
  width: auto;
  height: 12px;
  font-size: 12px;
  display: flex;
  align-items: center;
  align-content: center;
  white-space: nowrap;
  line-height: 1;
  display: inline-block;
}
.DMMainStatusMessageFrame {
  width: 80px;
  height: 123px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.DMMainDM {
  width: 397px;
  background-color: #000000;
  height: calc(100% - 238px);
}
.DMMainDiv {
  width: 397px;
  box-sizing: border-box;
  padding: 16px 24px 8px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DMMainDivText {
  font-size: 16px;
  font-weight: 700;
  background-color: #000000;
  color: #f5f5f5;
}
.DMMainDivLinkText {
  font-weight: 500;
  font-size: 14px;
  background-color: #000000;
  color: #aeaeae;
}
.DMMainDivLinkText:hover {
  text-decoration: underline;
}
.DMMainDMFriendprofileList {
  width: 397px;
  background-color: #000000;
  max-height: calc(100% - 69.44px);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.DMMainDMFriendprofile {
  width: 392px;
  min-height: 70px;
  padding: 8px 24px;
  box-sizing: border-box;
}
.DMMainDMFriendprofile:hover {
  background-color: #191919;
  cursor: pointer;
}
.DMMainDMFriendprofileContent {
  width: 334px;
  height: 56px;
  display: flex;
  position: relative;
}
.DMMainDMFriendprofileImg {
  width: 56px;
  height: 56px;
  border-radius: 28px;
}
.online {
  position: fixed;
  width: 16px;
  height: 16px;
  background-color: #1cf14f;
  justify-self: flex-end;
  align-self: flex-end;
  border-radius: 16px;
  border: 2px #262626 solid;
  box-sizing: border-box;
  margin-left: 40px;
  position: absolute;
}
.DMMainDMFriendprofileContentSet {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.DMMainDMFriendprofileContentName {
  width: 246px;
  height: 11px;
  font-size: 14px;
  color: #f5f5f5;
  padding-bottom: 6px;
}
.DMMainDMFriendprofileContentText {
  width: 246px;
  height: 18px;
  font-size: 12px;
  color: #a8a8a8;
  padding-top: 6px;
}
/* sidebar */
.SideBar {
  width: 72px;
  height: 100%;
  padding: 8px 12px 20px;
  background-color: #000000;
  box-sizing: border-box;
  border: 1px #262626 solid;
}
.SidebarBtn {
  width: 48px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0;
  padding: 12px;
  box-sizing: border-box;
}
.SidebarBtn:hover {
  border-radius: 8px;
  background-color: #262626;
}
.SidebarTop {
  height: 96px;
  margin: 12px 0 0;
  padding: 0 0 23px;
}
.SidebarSpace {
  width: 48px;
  height: 252px;
}
/* DMTalking */
.DMTalking {
  width: 100%;
}
.DMTalkingTop {
  width: 100%;
  height: 77px;
  background-color: #000000;
  border: 1px #262626 solid;
  position: fixed;
  padding: 16px;
  box-sizing: border-box;
}
.DMTalkingTopFriendprofile {
  min-height: 44px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.DMTalkingTopFriendprofileContent {
  height: 56px;
  display: flex;
  flex-shrink: 0;
}
.DMTalkingTopFriendprofileContent:hover {
  cursor: pointer;
}
.DMTalkingTopFriendprofileImg {
  width: 44px;
  height: 44px;
  border-radius: 22px;
}
.DMTalkingTopFriendprofileContentSet {
  display: flex;
  flex-direction: column;
  margin-left: 19px;
}
.DMTalkingTopFriendprofileContentName {
  width: 246px;
  height: 21px;
  font-size: 16px;
  font-weight: 600;
  color: #f5f5f5;
  margin-bottom: 3px;
}
.DMTalkingTopFriendprofileContentText {
  width: 246px;
  height: 16px;
  font-size: 12px;
  font-weight: 400;
  color: #a8a8a8;
}
.DMTalkingMid {
  width: 100%;
  height: calc(100% - 77px - 78px);
  background-color: #000000;
  border-left: 1px #262626 solid;
  margin-top: 77px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.DMTalkingMyMessage {
  width: min-content;
  min-height: 32px;
  color: #f5f5f5;
  background-color: #3797f0;
  border-radius: 16px;
  align-self: flex-end;
  margin: 4px 10px;
  right: 0;
  padding: 2px 8px;
  display: flex;
  word-break: keep-all;
  border-top-right-radius: 3px;
  text-align: center;
}
.DMTalkingYourMessage {
  width: min-content;
  min-height: 32px;
  color: #f5f5f5;
  background-color: #262626;
  border-radius: 16px;
  position: sticky;
  margin: 4px 0;
  right: 0;
  padding: 2px 8px;
  display: flex;
  word-break: keep-all;
}
.DMTalkingYourMessageimg {
  width: 28px;
  height: 28px;
  margin: 0 14px 0 8px;
  border-radius: 14px;
}
.DMTalkingBottom {
  max-width: 100%;
  max-height: 78px;
  min-height: 78px;
  background-color: #000000;
  border-left: 1px #262626 solid;
  padding: 16px;
  box-sizing: border-box;
}
.DMTalkingBottomTextDiv {
  width: 100%;
  min-height: 44px;
  padding: 0 16px 0 11px;
  border: 1px #262626 solid;
  border-radius: 22px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.DMTalkingBottomText {
  width: 100%;
  border: none;
  background-color: #000000;
  color: #f5f5f5;
  font-size: 15px;
  margin: 8px 4px 0 8px;
  padding: 0 0 5px;
  font-weight: 400;
}
.sender:hover {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}
.DMTalkingBottomImg {
  width: 24px;
  height: 24px;
}
.DMTalkingBottomImg:hover {
  width: 25.2px;
  height: 25.2px;
}
.DMTalkingBottomRightImg {
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
}
.DMTalkingBottomLeftImg {
  width: 32px;
  height: 32px;
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  align-self: center;
}
.imghovering:hover {
  cursor: pointer;
  width: 25.2px;
  height: 25.2px;
}
.hover:hover {
  cursor: pointer;
}
