.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  flex: 1; /*input 요소가 가로 공간을 모두 차지하도록 설정 */
  padding: 16px;
  border: 1px solid white;
  border-radius: 4px;
}

.Editor button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: rgb(37, 147, 255);
  color: white;
  border-radius: 5px;
}
