html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
  overflow: hidden;
}

input {
  outline: none;
}
button {
  background-color: #000000;
  color: #85a1ff;
  border: 0;
}
button:hover {
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
}
